version: '3.7'

services:
    php:
        container_name: clean_arch_php
        restart: always
        build:
          context: ./docker/php
        depends_on:
          - postgres
        volumes:
            - ./docker/apache/vhosts:/opt/bitnami/apache2/conf/vhosts
            - ./back/:/var/www
        ports: 
            - "8888:80"

    postgres:
        image: 'postgres:latest'
        container_name: clean_arch_postgres
        hostname: clean_arch_postgres
        restart: always
        environment:
            POSTGRES_PASSWORD: admin
            POSTGRES_USER: admin
            POSTGRES_DB: clean_arch_postgres
        ports:
            - "5400:5432"
        volumes:
            - ./postgres-data:/var/lib/postgresql/data
    
    mailer:
        image:  maildev/maildev
        container_name: "clean_arch_mailer"
        command: bin/maildev --web 1080 --smtp 1025 --hide-extensions STARTTLS
        ports: [1025, 1080]

volumes: 
        postgres-data: